/*@font-face {
    font-family: 'DINMediumRegular';
    src: url('../../font/din_medium-webfont.eot');
    src: url('../../font/din_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/din_medium-webfont.woff') format('woff'),
         url('../../font/din_medium-webfont.ttf') format('truetype'),
         url('../../font/din_medium-webfont.svg#DINMediumRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'colaborate-regularregular';
    src: url('../../font/colabreg-webfont.eot');
    src: url('../../font/colabreg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/colabreg-webfont.woff') format('woff'),
         url('../../font/colabreg-webfont.ttf') format('truetype'),
         url('../../font/colabreg-webfont.svg#colaborate-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/


@font-face {
    font-family: 'quattrocento_sansregular';
    src: url('../../font/quattrocentosans-regular-webfont.eot');
    src: url('../../font/quattrocentosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/quattrocentosans-regular-webfont.woff') format('woff'),
         url('../../font/quattrocentosans-regular-webfont.ttf') format('truetype'),
         url('../../font/quattrocentosans-regular-webfont.svg#quattrocento_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'quattrocento_sansregular';
/*	font-family: 'DINMediumRegular';*/
	background-color: #f0f0f0;
	color: #565656;
	font-size: 12px;
}
#geral{
	width: 1024px;
	margin: 0 auto;
	min-height: 500px;
	font-size: 15px;  
}
#topo{
  	border-top: 5px solid #7137c8;
}
#topo img{
	margin-top: 10px;
	float:left;
}
#topo .sair{
	float:right;
	font-weight:bold;
	margin-top: 10px;
}
#topo .sair a{
	color: #5b5b5b;
	text-decoration: none;
	font-size: 12px;
}
#topo .sair a:hover{
  	text-decoration: underline;
}
#container{
	margin-top: 0px;
}
#boasvindas{
	width: 300px;
	float: left;
	color: #535353;
}
#boasvindas p{
 	font-size: 12px;
}

h1{
	font-size: 32px;
    color: #494d68;
    text-transform:uppercase;
	font-family: 'quattrocento_sansregular';
}

h2{
	font-size: 18px;
    color: #494d68;
    text-transform:uppercase;
	font-family: 'quattrocento_sansregular';
}
#boasvindas a{
	color: #535353;
	text-decoration: none;
}
#boasvindas a:hover{
  	text-decoration: underline;
}
#conteudo{
	width: 794px;	
	float:right;
	background-color: #E4E4E4;
	border: #cccccc;
	font-size: 12px;
	color:#000;
	padding: 20px;
	margin-top: 20px;
	-moz-border-radius: 0px 10px 10px 0px; /* Para Firefox */
	-webkit-border-radius: 0px 10px 10px 0px; /*Para Safari e Chrome */
	border-radius: 0px 10px 10px 0px; /* Para Opera 10.5+*/
}
#rodape{
	width: 1024px;
	margin: 0 auto;
	text-align:center;
	background:url(../../images/rodape_top.png);
	background-position:top center;
	background-repeat:no-repeat;
	/*border-top: 5px solid #494d68;
	border-bottom: 65px solid #494d68;*/
	color:#565656;
	font-weight: bold;
}

#rodape a{
	color:#565656;
	text-decoration: none;
}

#rodape a:hover{
	text-decoration: underline;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#tituloMenu{
	width: 239px;
	background: url(../../images/menu.png);
	height: 80px;
	padding-top: 30px;
	padding-left: 20px;
}
#menu{
	width: 180px;
	float: left;
	background-color: #E4E4E4;
	background-image:url(../../images/menu_left.png);
	background-position:left;
	background-repeat:repeat-y;	
	margin-top: 20px;
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 20px;
}
#menu .navprimary{
	color: #2D75D1;
	/*border-top: #fff 1px solid;*/
	width: 230px;
	margin-left: 10px;
}

#menu .navprimary:first-child{
	color: #2D75D1;
	border-top: none;
	width: 230px;
	margin-left: 10px;
}

#menu .navprimary a{
	color: #2D75D1;
	text-decoration: none;
	display:block;
}


#menu ul{
	display:none;
	margin-left: 10px;
}

#menu li .selected{
	border: none;
	display:block;
}

#menu .navprimary ul a{
	color: #333333;
	margin-left: 10px;
	text-decoration: none;
	display:block;
}
#menu .navprimary ul a:hover{
	text-decoration: underline;
	color:#300;
}

ul li:last-child a:hover{
  	text-decoration: underline;
}

#login input { 
	padding-left: 3px; 
	height: 35px;
}

.coluna{
	float: left;
}
#table .linha{
	margin-bottom: 5px;
}
.linha{
	width: 100%;
}

#table .linha_sol{
	margin-bottom: 5px;
}
.linha_sol{
	width: 100%;
}

.linha_sol:hover{
	background-color:#E6E6E6;
}
.date{
	width: 100px;
	height: 20px;	
}
.minText{
	
}
.fullText{
	width: 340px;
	height: 20px;
}
#frmCadastro input[type=submit]{
	background: url(../../images/salvar.png);
	height: 27px;
	width: 105px;
	border: none;
	float: left;
	cursor: pointer;
}
#frmBusca input[type=submit]{
	background: url(../../images/buscar.png);
	height: 30px;
	width: 200px;
	border: none;
	/*float: righ;*/
	cursor: pointer;
	margin-bottom:5px;
}
#frmCadastro input[type=reset]{
	background: url(../../images/limpar.png);
	height: 27px;
	width: 105px;
	border: none;
	cursor: pointer;
}
textarea{
	width: 460px;
	height: 100px;
}

.listagem a{
	color: #777777;
	text-decoration: none;
}
.listagem a:hover{
	text-decoration: underline;
}

.editar{
	background: url(../../images/edit.png) no-repeat;
	width: 16px;
	height: 16px;
	float: left;
	-moz-opacity:.5;
	opacity:0.50;
	filter:alpha(opacity=50); 	
}
.editar:hover{
	-moz-opacity:1;
	opacity:1;
	filter:alpha(opacity=100);
}

.retirar{
	background: url(../../images/retirar.png) no-repeat;
	width: 16px;
	height: 16px;
	float: left;
	-moz-opacity:.5;
	opacity:0.50;
	filter:alpha(opacity=50); 	
}
.retirar:hover{
	-moz-opacity:1;
	opacity:1;
	filter:alpha(opacity=100);
}


.delete{
	background: url(../../images/delete.png) no-repeat;
	width: 16px;
	height: 16px;
	float: left;
	-moz-opacity:.5;
	opacity:0.50;
	filter:alpha(opacity=50); 	
}
.delete:hover{
	-moz-opacity:1;
	opacity:1;
	filter:alpha(opacity=100);
}

.visualizar{
	background: url(../../images/view.png) no-repeat;
	width: 16px;
	height: 16px;
	float: left;
	-moz-opacity:.5;
	opacity:0.50;
	filter:alpha(opacity=50); 	
}
.visualizar:hover{
	-moz-opacity:1;
	opacity:1;
	filter:alpha(opacity=100);
}

.transferencia{
	background: url(../../images/transfer.png) no-repeat;
	width: 16px;
	height: 16px;
	float: left;
	-moz-opacity:.5;
	opacity:0.50;
	filter:alpha(opacity=50); 	
}
.transferencia:hover{
	-moz-opacity:1;
	opacity:1;
	filter:alpha(opacity=100);
}

.add{
	background: url(../../images/add.png) no-repeat;
	width: 16px;
	height: 16px;
	float: left;
	-moz-opacity:.5;
	opacity:0.50;
	filter:alpha(opacity=50); 	
}
.add:hover{
	-moz-opacity:1;
	opacity:1;
	filter:alpha(opacity=100);
}

.imprimir{
	background: url(../../images/print.png) no-repeat;
	width: 16px;
	height: 16px;
	float: left;
	-moz-opacity:.5;
	opacity:0.50;
	filter:alpha(opacity=50); 	
}
.imprimir:hover{
	-moz-opacity:1;
	opacity:1;
	filter:alpha(opacity=100);
}

.rodape{
	height: 30px;
	background-color: #CCCCCC;
	padding-top: 10px;
}
.esconde{
	display: none;
}
.troca{
	color: #ccc;
}
#pag_numero{
	background-color:#EEE; 
	width:10px;
	padding: 3px; 
	text-decoration:none;
	color:#333;	
}

#pag_sel{
	background-color:#BBB; 
	width:10px;
	padding:4px; 
	text-decoration:none;
	color:#FFF;
	font-size:16px;
	-moz-border-radius: 5px; /* Para Firefox */
	-webkit-border-radius: 5px; /*Para Safari e Chrome */
	border-radius: 5px; /* Para Opera 10.5+*/
	text-shadow: 2px 2px 5px #000;
}