* {
margin:0;
padding:0;
}

body{
	background: #DCDCDC url(Images/fundo.png);;
	height: 100%;
}

#body_background{
	margin: auto;
	background-color: #ffffff;
	left: 250px;
	width: 850px;
	margin-top: 0px;
	overflow: auto;
	min-height: 459px;
}

#logo{
	width: 276px;
	height: 100px;
	float: right;
	margin-right: 50px;
	background: url(Images/logoCC.png);
	margin-top: 0px;
}

#enquete{
	float:left;
	width: 810px;
	margin-top: 20px;
	margin-left:20px;
	background-color: #DCDCDC;
}

#question, #dp{
	float:left;
	width: 760px;
	margin-left: 17px;
	background-color: #F5F5F5;
	margin-top: 20px;
	margin-bottom: 20px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

#dp{
	display: none;
}

#option, #prof, #disc{
	float:left;
	width: 200px;
	font-family: Arial;
	font-size: 16px;
	margin-left: 10px;
	margin-top: 20px;
	color: #000;
}

#prof{
	margin-left: 240px;
}

#item{
	width: 760px;
	margin-left: 17px;
	margin-top: 10px;
}

#title{
	font-family: Arial;
	font-size: 20px;
	width: 750px;
	overflow: auto;
	margin-left: 20px;
	margin-top: 10px;
	color: #000;
	text-align: center;
	font-weight: bold;
}

#text, #select, #field, #text-question, #disciplina, #professor{
	float:left;
	width: 750px;
	height: 30px;
	margin-top: 20px;
	margin-left: 20px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	font-family: Arial;
	font-size: 16px;
}

#disciplina, #professor{
	width: 300px;
	margin-left: 7px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#professor{
	margin-left: 140px;
}

#text-question{
	margin-left: 7px;
	width: 740px;
}

#select{
	width: 740px;
	margin-top: 10px;
	margin-left: 7px;
}	

#field{
	width: 300px;
	margin-left: 10px;
}

#multiple_choice, #select_box{
	width: 750px;
	font-family: Arial;
	font-size: 16px;
	margin-top: 20px;
	left: 50%;
	text-align: center;
	display: none;
}

.link{
	width: 750px;
	margin-top: 10px;
}

#multiple_choice a:link, a:visited, #select_box a:link, a:visited{
	color: #0000FF;
	text-decoration: none;
}

#multiple_choice a:hover,a:active, #select_box a:hover,a:active {
	color:#0000FF;
	text-decoration:underline;
}

#footer{
	width: 100%;
	height: 100px;
	background:#F5F5F5;
	bottom: 0px;
	right: 0px;
	left: 0px;
}	


#footer_bar{
	background-color: #81d41d;
	width: 100%;
	height: 8px;
	width: 850px;
	margin: auto;
}

#login{
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	overflow: auto;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}

#form_login{
	float: left;
	width: 700px;
	height: 300px;
	margin-top: 0px;
	margin-left: 50px;
	font-family: Verdana;
	background-color: #DCDCDC;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
}

.loginDescr{
	width: 100px;
	height: 30px;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	font-family: Verdana;
	line-height: 30px;
	clear: left;
	font-size: 13px;
}

#button-right, #button-question, #button, #concluir{
	width: 200px;
	margin-top: 10px;
	margin-left: 20px;
	height: 30px;
	font-size: 14px;
	font-family: Helvetica, Arial;
	line-height: 30px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	clear: left;
	background-color: #81d41d;
	color: #000;
	margin-bottom: 20px;
}

#button-question, #concluir{
	margin-right: 20px;
	margin-left: 70%;
	margin-bottom: 10px;
}

#button-right{
	margin-right: 20px;
	margin-left: 250px;
	width: 300px;
}

#image{
	float:left;
	margin-left: 20px;
	margin-top: 10px;
	width: 810px;
	height: 250px;
}


#menu{
	width: 100%;
	height: 100px;
	background-color: #F5F5F5;
	border-bottom: 8px solid #81d41d;
}

#menu ul {
	float:left;
	margin-top: 50px;
	margin-left: 30px;
	padding: 0px 0px 0; 
	line-height: 20%; 
	font: 0.8em/1.5em Helvetica,Arial,sans-serif;
}


#menu ul li {
	margin: 0 5px; 
	padding: 0 0 8px; 
	float: left; 
	position: relative; 
	list-style: none; 
}

#menu ul ul {
	display: none; 
	margin: 0; 
	padding: 0; 
	width: 185px; 
	position: absolute; 
	top: 40px; 
	left: 0; 
	background: #ddd url(Images/overlay.png) repeat-x 0 0; 
	border: solid 1px #b4b4b4; 
	box-shadow: 0 1px 3px rgba(0,0,0, .3);
}

#menu ul ul li {
	float: left;
	width: 300px;
	height: 300px;
	background-color: #ffffff;
	margin: 0; 
	padding: 3px; 
}

#menu ul ul a {
	font-weight: normal; 
	text-shadow: 0 1px 0 #fff; 
}

#menu a:link, a:visited{
	color: #000;
	text-decoration: none;
	font-family: Arial;
	font-weight: bold;
}

#menu a:hover,a:active{
	color:#81d41d;
	text-decoration:none;
}

#menu ul:after {
	content: '.'; 
	display: block; 
	clear: both; 
	visibility: hidden; 
	line-height: 0; 
	height: 0;
}

* html #menu  ul {
	height: 1%;
}

@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-size: 20px;
	font-style: normal;
	margin-left: 20px;
}

.flaticon-black180:before {
	content: "\e000";
}

.flaticon-circle46:before {
	content: "\e001";
}
